version: '3.7'

networks:
  lxc-backend:
  lxc-frontend:

services:
  postgresdb:
    image: postgres:12-alpine
    networks:
      - lxc-backend
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_PASSWORD: postgrespwd
      POSTGRES_USER: postgresuser
      POSTGRES_DB: lxcdb
    volumes:
      - ~/.lxc-platform-db:/var/lib/postgresql/data:rw
    ports:
      - "5432:5432"

  lxc-platform-server:
    image: lxc-platform-server:latest
    networks:
      - lxc-backend
      - lxc-frontend
    hostname: lxc-platform-server
    container_name: lxc-platform-server
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_ADDRESS: postgresdb
      DEBUG_PORT: 7779
      LOG_LEVEL: DEBUG
      DB_CONT_NAME: postgresdb
      DB_PORT: 5432
      DB_NAME: lxcdb
      DB_USER: postgresuser
      DB_PASSWORD: postgrespwd
      LXC_SERVER_PORT: 8443
      SSL_KEY_ALIAS: lxc-key
      SSL_KEY_STORE: classpath:lxc-keystore.p12
      SSL_KEY_STORE_TYPE: PKCS12
      SSL_KEY_STORE_PASSWORD: password
      JWT_SECRET: jwtsupersecretkey
      WEBUI_URL: https://localhost:3003
      SSH_SERVER_IP: 192.168.144.4
      SSH_SERVER_PORT: 22
      SSH_SERVER_KEY: admin.key
      SSH_SERVER_USERNAME: prince
      SSH_SERVER_PASSWORD: 1324111a
      SSH_SERVER_LXC_PARENT: climbing-stinkbug
      SSH_LXC_PORT: 22
    ports:
      - "8443:8443"
      - "7779:7779"